<!--
  /**
   * @file views/joueurs/Accueil.ejs
   * @author Nathan EPRON
   */
-->

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>QuizBox</title>
  <!-- CSS de Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet2" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- JavaScript de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/joueurs/index.css">
  <link rel="shortcut icon" type="image/png" href="/images/joueurs/faviconquizbox.png">
</head>
<body>
  <div class="Logo-Quizbox">
    <img class="Img-Logo-Quizbox" src="/images/joueurs/quizboxlogo.png">
  </div>
  <section class="top-page">
    <div class="container">
      <div class="row">
        <div class="">
          <div class="Code-jeu"> 
            <form> 
              <input type="text" id="pin-input" class="form-control" placeholder="Entrer le code PIN" maxlength="6"> 
              <input type="submit" id="submit-btn" class="btn mt-3" style="background-color:#55a2fa;" value="Valider"> 
            </form> 
          </div> 
        </div>
      </div>
    </div> 
  </section>
  <div id="login-link">
        <p class="Login-CC" style="display: inline-block">Vous avez un compte...</p>
        <a class="Login-CC" href="/connexion">vous connecter ?</a>
  </div> 
  <!-- Le reste du contenu -->
  <footer class="bg-light py-3">
    <p class="text-center text-muted">&copy; 2023 - QuizBox</p>
  </footer>
  <div class="popup" id="message">Code PIN invalide</div>
  <script src="/js/joueurs/ResponsiveLogo.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/scripts/codePin.js"></script>
</body>
</html>