<!--
  /**
   * @file views/admins/Reponses.ejs
   * @author Nathan EPRON
   */
-->

<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>QuizBox</title>
  <!-- CSS de Bootstrap -->
  <link rel="stylesheet" href="/css/joueurs/bootstrap.min.css">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet2" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  <!-- JavaScript de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/png" href="/images/admins/faviconquizbox.png">
  <link rel="stylesheet" type="text/css" href="/css/admins/index.css">
</head>

<body class="Game-user">
  <div id="numQuestion"></div>
  <div id="container">
    <div class="Illustration">
      <button class="bouton-suivant" id="bouton-suivant" type="submit" value="Suivant" href="/">Suivant</button>
    </div>
    <div class="container-Res">
      <div class="row justify-content-center align-items-end">
        <div class="red-graph">
          <div class="red-Resultat-block"></div>
          <div class="red-bas-block">
            <img class="Logo-Carre-Game" src="/images/admins/carre.png">
          </div>
          <p class="red-zone-graph" style="font-size: 30px;"></p>
        </div>
        <div class="green-graph">
          <div class="green-Resultat-block"></div>
          <div class="green-bas-block">
            <img class="Logo-Rond-Game" src="/images/admins/rond.png">
          </div>
          <p class="green-zone-graph" style="font-size: 30px;"></p>
        </div>
        <div class="orange-graph">
          <div class="orange-Resultat-block"></div>
          <div class="orange-bas-block">
            <img class="Logo-Losange-Game" src="/images/admins/Losange.png">
          </div>
          <p class="orange-zone-graph" style="font-size: 30px;"></p>
        </div>
        <div class="blue-graph">
          <div class="blue-Resultat-block"></div>
          <div class="blue-bas-block">
            <img class="Logo-Triangle-Game" src="/images/admins/Triangle.png">
          </div>
          <p class="blue-zone-graph" style="font-size: 30px;"></p>
        </div>
      </div>
    </div>
    <div class="Question">
      <p id="question" class="txt-Question"></p>
    </div>
    <div id="propositions" class="Body-Button align-items-center">
      <div class="d-flex">
        <a class="red-button d-flex align-items-center"><img class="red-btn-rep" src="/images/admins/carre.png">
          <p class="txt-Rep"></p><span style="color: white; font-size: 30px;"></span>
        </a>
        <a class="blue-button d-flex align-items-center"><img class="blue-btn-rep" src="/images/admins/Triangle.png">
          <p class="txt-Rep"></p><span style="color: white; font-size: 30px;"></span>
        </a>
      </div>
      <div class="d-flex">
        <a class="green-button d-flex align-items-center"><img class="green-btn-rep" src="/images/admins/rond.png">
          <p class="txt-Rep"></p><span style="color: white; font-size: 30px;"></span>
        </a>
        <a class="orange-button d-flex align-items-center"><img class="orange-btn-rep" src="/images/admins/Losange.png">
          <p class="txt-Rep"></p><span style="color: white; font-size: 30px;"></span>
        </a>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/scripts/adminsJeu.js"></script>
</body>

</html>